<div class="col-md-6 col-sm-6 col-xs-6">
    <!-- Box Outer Layer [ Box 1 ] -->
    <div class="box box-md br-green animated">
        <!-- Box Hover Effect -->
        <div class="box-hover box-hover-black">
            <!-- Hover Icon -->
            <span class="hover-icon">GO</span>
        </div>
        <!-- Box Link -->
        <a href="{{ path('about') }}">
            <!-- Box Link Content -->
            <div class="box-content navigation">
                <!-- Box Icon -->
                <i class="fas fa-users"></i>
                <!-- Box Title -->
                <span class="box-title">我们一家人</span>
            </div>
        </a>
    </div>
</div>