<div class="box box-md br-green animated">
    <!-- Box Hover Effect -->
    <div class="box-hover box-hover-black">
        <!-- Hover Icon -->
        <span class="hover-icon">GO</span>
    </div>
    <!-- Box Link -->
    <a href="{{ path("book_today") }}">
        <!-- Box Link Content -->
        <div class="box-content navigation">
            <!-- Box Icon -->
            <i class="fas fa-history"></i>
            <!-- Box Title -->
            <span class="box-title">“今天”买的书</span>
        </div>
    </a>
</div>