<div class="box box-md br-pink pull-up animated">
    <!-- Box Hover Effect -->
    <div class="box-hover box-hover-black">
        <!-- Hover Icon -->
        <span class="hover-icon">GO</span>
    </div>
    <!-- Box Link -->
    <a href="{{ path('contact') }}">
        <!-- Box Link Content -->
        <div class="box-content navigation">
            <!-- Box Icon -->
            <i class="far fa-handshake"></i>
            <!-- Box Title -->
            <span class="box-title">联系站长</span>
        </div>
    </a>
</div>