<div class="cbp-item read print identity">
    <div class="cbp-caption margin-bottom-20">
        <div class="cbp-caption-defaultWrap">
            <img src="images/img7.jpg" alt="">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <ul class="link-captions no-bottom-space">
                        <li><a href="{{ read.URI }}" target="_blank"><i class="ti-link"></i></a></li>
                        <li><a href="images/img7.jpg" class="cbp-lightbox" data-title="Design Object"><i class="ti-plus"></i></a></li>
                    </ul>
                </div>
            </div>                      
        </div>                              
    </div><!--/cbp-caption-->
    <div class="cbp-title-dark mb30">
        <div class="cbp-l-grid-agency-title">最新书评</div>
        <div class="cbp-l-grid-agency-desc"><a href="{{ read.URI }}" target="_blank">{{ read.title }}</a></div>
    </div><!--/bottom desc-->
</div>