<div class="box-content box-gallery padd-zero">
    <div class="img-details box-hover-black">
        <!-- Heading -->
        <h3>Old Fashion Car With Latest Engine</h3>
        <!-- Paragraph -->
        <p>On the other hand, we denounce with righteous in our power of choice isded and foresee the pain and trouble that are bound to ensue.</p>
        <!-- View Next Button -->
        <div class="view-button">
            <a href="portfolio.html" class="btn btn-danger">View More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!-- Image -->
    <img src="img/nav1.jpg" class="img-responsive box-gallery-img" alt="" />
</div>