{% extends "base.html.twig" %}

{% block title %}
    任氏有无轩 | 职业生涯
{% endblock %}

{% block meta %}
    <meta name="description" content="任氏有无轩职业生涯">
    <meta name="keywords" content="任氏有无轩, 职业">
{% endblock %}    

{% block body %}
    <div class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Inner Page Content Sidebar -->
                    <div class="page-sidebar">
                        <!-- Page Title -->
                        <div class="page-title br-green">
                            <!-- Inner Page Title // Heading -->
                            <h2>职业生涯</h2>
                            <!-- Paragraph -->
                            <p>TR和GR的职业生涯都开始与1996年。我俩的职业生涯都很丰富多彩。PR还在读书。</p>
                        </div>
                        <!-- Sidebar Links -->
                        <div class="sidebar-link col-disable">
                            <!-- Search Box -->
                            {{ include('widget/sidebar.html.twig') }}
                        </div>
                    </div>
                </div>
                <!-- Main-bar Column -->
                <div class="col-md-9">
                    <div class="page-mainbar career">
                        <!-- Heading -->
                        <h3>职业生涯概述</h3>
                        <!-- Careers Content -->
                        <div class="career-content">
                            <!-- Navigation Bar Menu list -->
                            <ul id="mytab" class="nav nav-tabs">
                                <li class="active"><a href="#one" class="br-red" data-toggle="tab">TR</a></li>
                                <li><a href="#two" class="br-lblue" data-toggle="tab">GR</a></li>
                                <li><a href="#three" class="br-purple" data-toggle="tab">PR</a></li>
                            </ul>
                            <!-- Content for each menu item -->
                            <div class="tab-content">
                                <!-- First Content for Nav bar -->
                                <div class="tab-pane fade in active br-red" id="one">
                                    <h4>Taylor Ren</h4>
                                    <p>TR在1996年回到苏州，进入<a href="http://www.cssd.com.cn/">中新苏州工业园区开发集团有限公司（CSSD）</a>，从事招商引资工作。后来进入多家电子制造公司。从2014年开始，他开始着手翻译工作，并于2018年加入了<a href="http://www.sta.org.cn/">上海翻译家协会</a>，目前出版译作多本。2019年6月，进入<a href="https://www.suzhousinternationalschool.com/">苏州新加坡外籍人员子女学校</a>，从事国际教育管理工作。闲暇时间，他喜欢看书、听音乐、写程序。</p>
                                </div>

                                <!-- Second Content for Nav bar -->
                                <div class="tab-pane fade br-lblue" id="two">
                                    <h4>Gloria Rong</h4>
                                    <p>GR在1996年进入外贸行业工作，之后进入物流、管理职能。2013年GR完成<a href="https://www.tongji.edu.cn/">同济大学</a>MBA学习，毕业论文为《基于组织仿真的TSV生产流程建模、仿真及优化研究》。</p>
                                </div>

                                <!-- Third Content for Nav bar -->
                                <div class="tab-pane fade br-purple" id="three">
                                    <h4>Peter Ren</h4>
                                    <p>PR从2007年开始，一直在星海学校就读，并完成了九年制义务教育。中考后他继续进入<a href="http://xhsy.sipedu.org/">星海高中</a>学习，同时进行海外留学申请。2019年8月，他正式飞往美国，进入<a href="https://www.utexas.edu/">德州大学奥斯汀分校</a>学习，成绩优秀。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    
