{% extends "base.html.twig" %}
{% block title %}
    任氏有无轩 | 联络我们
{% endblock %}
{% block body %}
<div class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Inner Page Content Sidebar -->
                <div class="page-sidebar">
                    <!-- Page Title -->
                    <div class="page-title br-pink">
                        <!-- Inner Page Title // Heading -->
                        <h2>联系站长</h2>
                        <!-- Paragraph -->
                        <p>如果您对本站其中的任何内容、提供的服务感兴趣，请随时和站长联系！</p>
                    </div>
                    <!-- Sidebar Links -->
                    <div class="sidebar-link col-disable">
                        <!-- Search Box -->
                        {{ include("widget/sidebar.html.twig") }}
                    </div>
                </div>
            </div>
            <!-- Main-bar Column -->
            <div class="col-md-9">
                <div class="page-mainbar contactus">
                    <!-- Heading -->
                    <h3>总部</h3>
                    <!-- Contact Us Content -->
                    <div class="contactus-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <!-- Contact Us Content Item -->
                                <div class="content-item">
                                    <!-- Icon -->
                                    <i class="fas fa-map-marker lblue"></i>
                                    <!-- Heading -->
                                    <h4>所在地</h4>
                                    <!-- Paragraph -->
                                    <p class="grey">苏州工业园区，苏州，江苏，中国，215021</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <!-- Contact Us Content Item -->
                                <div class="content-item">
                                    <!-- Icon -->
                                    <i class="far fa-paper-plane red"></i>
                                    <!-- Heading -->
                                    <h4>Email</h4>
                                    <!-- Paragraph -->
                                    <p><a href="mailto:taylor.ren@gmail.com">taylor.ren@gmail.com</a><br /></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <!-- Contact Us Content Item -->
                                <div class="content-item">
                                    <!-- Icon -->
                                    <i class="far fa-id-card green"></i>
                                    <!-- Heading -->
                                    <h4>其他联系方式</h4>
                                    <!-- Paragraph -->
                                    <p>参见顶部各大社交媒体链接</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Heading -->
                    <h3>其他所在地</h3>
                    <!-- Contact Us Branches -->
                    <div class="branch-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <!-- Heading -->
                                <h4><i class="fas fa-map-marker-alt orange"></i>&nbsp; USA</h4>
                                <!-- Address -->
                                <address>
                                    <i class="fas fa-home br-yellow"></i> 德州大学奥斯汀
                                </address>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <!-- Heading -->
                                <h4><i class="fas fa-map-marker-alt green"></i>&nbsp; 上海</h4>
                                <!-- Address -->
                                <address>
                                    <i class="fas fa-home br-yellow"></i> 上海浦东新区
                                </address>
                            </div>
                        </div>
                    </div>
                    <!-- Heading -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}