<div class="mb40">
    <form method="POST" action="{{ path('search') }}">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="（搜索书名、作者、TAG）" aria-describedby="basic-addon2">
            <button class="input-group-addon" id="basic-addon2"><i class="ti-search"></i></button>
        </div>
    </form>
</div><!--/col-->
