<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}StartUp{% endblock %}</title>
        <!-- Plugins CSS -->
        <link href="/css/plugins/plugins.css" rel="stylesheet">
        <!-- load css for cubeportfolio -->
        <link rel="stylesheet" type="text/css" href="/cubeportfolio/css/cubeportfolio.min.css">     
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/rsywx.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="/img/logo.jpg"/>

    </head>

    <body>
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <!-- Pushy Menu -->
        <aside class="pushy pushy-right">
            <h3>
                Off canvas menu Optional
            </h3>
        </aside>
        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        {{ include('widget/header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('widget/footer.html.twig') }}<!--/footer-->
        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script type="text/javascript" src="/js/plugins/plugins.js"></script> 
        <script type="text/javascript" src="/js/assan.custom.js"></script> 
        <!-- load cubeportfolio -->
        {% block script %}
        {% endblock %}

    </body>
</html>
