<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget">
                    <!-- Logo Icon -->
                    <!-- Heading -->
                    <h2><a href="/"><img src="img/logo.jpg" class="small-img br-red"></i> 任氏有无轩</a></h2>
                    <!-- Paragraph -->
                    <p>一个专注藏书、读书、写字、资料整理的个人站点。</p>
                    <!-- Social Media -->
                    <div class="social">
                        <a href="https://facebook.com/taylor.ren" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <!--<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>-->
                        <a href="https://twitter.com/taylorren" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/taylorren" class="linkedin"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/taylorren" class="facebook"><i class="fab fa-github"></i></a>
                        <a href="https://gitlab.com/taylor.ren" class="twitter"><i class="fab fa-gitlab"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-plus br-red"></i> 导航目录</h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <!-- Menu Icons link -->
                            <ul class="list-unstyled">
                                <li><a href="{{ path('home') }}"><i class="fas fa-igloo br-red"></i> 首页</a></li>
                                <li><a href="{{ path('careers') }}"><i class="fa fa-book br-yellow"></i> 职业生涯</a></li>
                                <li><a href="#"><i class="fa fa-phone br-green"></i> Contact Us</a></li>
                                <li><a href="#"><i class="fa fa-gear br-lblue"></i> Service</a></li>
                                <li><a href="#"><i class="fa fa-comment br-purple"></i> Testimonial</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <!-- Menu Icons link -->
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-check br-green"></i> Features</a></li>
                                <li><a href="#"><i class="fa fa-search br-pink"></i> Coming Soon</a></li>
                                <li><a href="{{ path("about") }}"><i class="fas fa-users br-orange"></i> 我们一家人</a></li>
                                <li><a href="#"><i class="fa fa-sign-in br-red"></i> Register</a></li>
                                <li><a href="#"><i class="fa fa-file br-blue"></i> Recent News</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h5><i class="far fa-paper-plane br-yellow"></i> 联系站长</h5>
                    <address>
                        <i class="fas fa-at br-green"></i> <a href="mailto:taylor.ren@gmail.com">taylor.ren@gmail.com</a>
                        <span><i class="fas fa-envelope br-blue"></i> 以及各种社交媒体</span>
                    </address>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Footer Widget -->
                <div class="footer-widget">
                    <!-- Heading -->
                    <h5><i class="fas fa-map-marker-alt br-lblue"></i> 周游世界</h5>
                    <!-- Google Map -->
                    <div class="map">
                        <!-- Image -->
                        <img src="img/map.png" class="img-responsive" alt="" />
                        <!-- Map Marker -->
                        <i class="fa fa-map-marker marker china red"></i>
                        <i class="fa fa-map-marker marker usa orange"></i>
                        <i class="fa fa-map-marker marker singapore green"></i>
                        <i class="fa fa-map-marker marker uk blue"></i>
                    </div>
                    <span class="location-name">
                        <i class="fa fa-map-marker br-red"></i> 中国 &nbsp;&nbsp;
                        <i class="fa fa-map-marker br-orange"></i> 美国 &nbsp;&nbsp;
                        <i class="fa fa-map-marker br-blue"></i> 欧洲
                        <i class="fa fa-map-marker br-green"></i> 新加坡
                    </span>
                </div>
            </div>
        </div>
        <!-- Footer Copyright -->
        <div class="footer-copyright">
            <p>
                <a href="/">任氏有无轩</a>站点采用<a href="https://symfony.com//">Symfony 5</a>构造。建议使用现代浏览器浏览。<br>
                模板来自FlatMania，并经过定制。<br/>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">任氏有无轩</span>由<a xmlns:cc="http://creativecommons.org/ns#" href="https://rsywx.net" property="cc:attributionName" rel="cc:attributionURL">任氏有无轩主人</a> 采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a>进行许可。<br />
                基于<a xmlns:dct="http://purl.org/dc/terms/" href="https://rsywx.net" rel="dct:source">https://rsywx.net</a>上的作品创作。<br/>
                1989 - {{ "now"|date("Y") }}
            </p>

        </div>
    </div>
</div>