<div class="header-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Social Media -->
                <div class="social">
                    <a href="https://facebook.com/taylor.ren" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <!--<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>-->
                    <a href="https://twitter.com/taylorren" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/taylorren" class="linkedin"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/taylorren" class="facebook"><i class="fab fa-github"></i></a>
                    <a href="https://gitlab.com/taylor.ren" class="twitter"><i class="fab fa-gitlab"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Search Box -->
                <div class="search">
                    <form action="{{ path('search') }}" method="POST">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" placeholder="搜索书籍（书名、作者、tag）">
                            <span class="input-group-btn">
                                <button class="btn" type="button"><i class="fas fa-search-plus"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Contact Info -->
                <div class="contact-info">
                    <span><i class="far fa-paper-plane br-lblue"></i> <strong>taylor.ren@gmail.com</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>

