<div  id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item dropdown">
            <a class="nav-link  <!-- dropdown-toggle-->" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ path('home') }}">首页</a>
            <!--
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="index.html" class="dropdown-item">Home 1 - Parallax</a></li>
                <li><a href="index-02.html" class="dropdown-item">Home 2 - Slider</a></li>
                <li><a href="index-03.html" class="dropdown-item">Home 3 - Video</a></li>
                <li class=" dropdown-submenu dropdown">
                    <a tabindex="-1" href="#" class="dropdown-item">Multi Level 1</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                        <li class="dropdown-submenu"><a tabindex="-1" href="#" class="dropdown-item">Multi Level 2</a>
                            <ul class="dropdown-menu">
                                <li> <a href="#" class="dropdown-item">Multi Level 3</a></li>
                                <li><a href="#" class="dropdown-item">Multi Level 3</a></li>
                                <li><a href="#" class="dropdown-item">Multi Level 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            -->
        </li>                      
        <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Pages</a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="about.html" class="dropdown-item"> About us</a></li>                                
                <li><a href="services.html" class="dropdown-item">Services</a></li>

                <li><a href="pricing.html" class="dropdown-item"> Pricing</a></li>
                <li><a href="signup.html" class="dropdown-item"> SignUp</a></li>
                <li><a href="login.html" class="dropdown-item"> Login</a></li>
                <li><a href="faqs.html" class="dropdown-item">Faqs</a></li>
                <li><a href="404.html" class="dropdown-item">404</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Blog</a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="blog.html" class="dropdown-item">Blog Page</a></li>
                <li><a href="blog-post.html" class="dropdown-item">Blog post</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">其他站点</a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="https://blog.rsywx.net/" class="dropdown-item">博客</a></li>
                <li><a href="http://rsywx.com/" class="dropdown-item">维客</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown"><a href="{{ path('contact') }}" class="nav-link">联系站长</a></li>
    </ul>        

</div>
<ul class=" navbar-nav ml-auto navbar-right">                     
    <li class="nav-item"><a href="javascript:void(0)" class=" menu-btn nav-link"><i class="fa fa-dot-circle-o"></i> </a></li>
    <li class="nav-item"><a href="javascript:void(0)" class=" btn btn-primary btn-rounded btn-sm">Sign up free</a></li>
</ul>