<div  id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item dropdown">
            <a class="nav-link" href="{{ path('home') }}">首页</a>
            <!--
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="index.html" class="dropdown-item">Home 1 - Parallax</a></li>
                <li><a href="index-02.html" class="dropdown-item">Home 2 - Slider</a></li>
                <li><a href="index-03.html" class="dropdown-item">Home 3 - Video</a></li>
                <li class=" dropdown-submenu dropdown">
                    <a tabindex="-1" href="#" class="dropdown-item">Multi Level 1</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                        <li class="dropdown-submenu"><a tabindex="-1" href="#" class="dropdown-item">Multi Level 2</a>
                            <ul class="dropdown-menu">
                                <li> <a href="#" class="dropdown-item">Multi Level 3</a></li>
                                <li><a href="#" class="dropdown-item">Multi Level 3</a></li>
                                <li><a href="#" class="dropdown-item">Multi Level 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            -->
        </li>                      
        <li class="nav-item dropdown">
            <a class="nav-link" aria-haspopup="true" aria-expanded="false" href="{{ path('list', {type: 'title', key: 'all'}) }}">藏书</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" aria-haspopup="true" aria-expanded="false" href="{{ path('read') }}">读书</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" aria-haspopup="true" aria-expanded="false" href="https://blog.rsywx.net" target="_blank">博客</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" aria-haspopup="true" aria-expanded="false" href="http://rsywx.com" target="_blank">维客</a>
        </li>
        <li class="nav-item">
            <a class=" btn btn-primary btn-rounded btn-sm" href="{{ path('contact') }}">联系站长</a>
        </li>
    </ul>        

</div>
