<ul class="list-unstyled">
    <li><a href="{{ path('home') }}" class="animated">首页 <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="{{ path('about') }}" class="animated">我们一家人<i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="feature.html" class="animated">Features <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="coming-soon.html" class="animated">Coming Soon <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="service.html" class="animated">Services <i class="fas fa-angle-double-right"></i></a></li>
    <li><a href="blog.html" class="animated">Blog <i class="fa fas-angle-double-right"></i></a></li>
    <li><a href="{{ path('contact') }}" class="animated">联系站长 <i class="fas fa-angle-double-right"></i></a></li>
</ul>